@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    background: #eee;
}
.buttons{
    display: flex;
    /* border: 2px solid red; */
    gap: 8px;
}
ul {
    list-style: none;
    padding: 0;
    margin:0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0, 70%)
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}
.header, .footer{
    display: flex;
    /* border: 2px solid green; */
    padding: 2px;
    justify-content: space-between;
}
.left-links, .right-links{
    /* border: 2px solid red; */
    display: flex;
    gap: 16px;
}
.footer{
    background-color: #ddd;
}
