body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.header {
    height: 72px;
    background: darkmagenta;
    color: white;
    font-size: 32px;
    font-weight: 900;
    padding-left: 16px;
    padding-right: 16px;
}

.heart {
    color: red;
    margin-left: 4px;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    justify-content: center;
}

.content {
    display: flex;
    flex: 1;
}

.header,
.footer {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar {
    background: royalblue;
    padding: 16px;
    min-width: 300px;
}

.content .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards {
    display: flex;
    padding: 40px;
    flex-flow: row wrap;
    gap: 16px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 4px;
    width: 300px;
    padding: 8px;
}