*{
    box-sizing: border-box;
    font-family: serif;
}
.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /* border: 2px solid yellow; */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* border: 2px solid blue; */
  gap: 10px;
  display: flex;
  padding:0;
  margin:0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}