body {
    background: #eee;
    font-family: sans-serif;
}

/* * {
    border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.card,
.title,
.button-container {
    padding: 8px;
}

.title,
.content {
    margin-bottom: 8px;
}

.card {
    width: 420px;
    background: #fff;
    margin: 16px auto;
}

.title {
    background: #e3f4ff;
    font-size: 16px;
}

.content {
    background: #e3f4ff;
    padding: 16px 8px;

}

.button-container {
    background: #e3f4ff;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
}
